@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    /* background: #eee; */
    font-family: 'Rubik', sans-serif
}

.container {
    margin-top: 200px !important
}
.mark{
    margin: 1%;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 20px;
}
.logoimg
{
    position: relative;
   height: 10px;
   size: 10;
   width: 2%;
}
.gmllogo{
    width: 10px;
}
img {
    /* width: 250px */
}

button:focus {
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 11px;
    margin: 5%;
    width: calc(330px + 10 * ((100vw - 320px) / 680));
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-top-color: #F9E8C7 !important
}

.card-header {
    border: 0;
    border-top: 14px solid #F9E8C7 !important;
    border-radius: 11px !important
}

.btn-outline-success {
    border-radius: 20px !important;
    border: 2px solid rgb(140, 243, 146)
}

.btn-outline-success:hover {
    color: #fff !important
}

img {
    width: 350px !important
}

.card-body {
    border-radius: 9px !important
}

.btn-outline-success:active,
.btn-outline-success.active {
    box-shadow: none !important;
    outline: none !important
}

@media (max-width: 401px) {
    .card {
        width: unset
    }
}

mark {
    background-color: #F9E8C7 !important
}

small {
    letter-spacing: 2px
}